<form class="form" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [matDatepickerFilter]="filterDate"
      formControlName="picker"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <fieldset class="password" formGroupName="passwordGroupe">
    <legend>Passport Data</legend>
    <mat-form-field appearance="outline">
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Password"
      />
      <ng-container *ngIf="passwordGroupe.controls.password as password">
        <mat-error *ngIf="password.dirty && password.hasError('required')">
          Passport is required
        </mat-error>
        <mat-error *ngIf="password.dirty && password.hasError('minlength')">
          Passport has
          <strong>{{ password.getError("minlength").actualLength }}</strong>
          symbols but has to have
          <strong>{{ password.getError("minlength").requiredLength }}</strong>
          symbols
        </mat-error>
      </ng-container>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        matInput
        type="password"
        formControlName="passwordConfirmed"
        placeholder="Confirm Password"
      />
      <ng-container
        *ngIf="passwordGroupe.controls.passwordConfirmed as passwordConfirmed"
      >
        <mat-error
          *ngIf="
            passwordConfirmed.dirty &&
            passwordConfirmed.hasError('passwordMatching')
          "
        >
          Confirm Password is not matched
        </mat-error>
      </ng-container>
    </mat-form-field>
  </fieldset>

  <mat-radio-group
    aria-label="Select an option"
    formControlName="isDiagnosExist"
  >
    <mat-radio-button value="diagnosExist">Diagnos Exist</mat-radio-button>
    <mat-radio-button value="diagnosNope">Nope Diagnos</mat-radio-button>
  </mat-radio-group>

  <fieldset class="doctor" formGroupName="doctors">
    <legend>Choose Doctors</legend>
    <ng-container *ngIf="doctors$ | async as doctors; else loading">
      <ng-container *ngFor="let doctor of doctors">
        <mat-checkbox [formControlName]="doctor">
          {{ doctor }}
        </mat-checkbox>
      </ng-container>
    </ng-container>
  </fieldset>

  <fieldset class="passport" formGroupName="passportGroupe">
    <legend>Passport Data</legend>
    <mat-form-field appearance="outline" class="years__field">
      <mat-select formControlName="years">
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="passport__field">
      <input
        matInput
        type="text"
        formControlName="passport"
        placeholder="Fill in Passport Data"
      />
      <ng-container *ngIf="passportGroupe.controls.passport as passport">
        <mat-error *ngIf="passport.dirty && passport.hasError('required')">
          Passport is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passport.dirty && passport.hasError('pattern')">
          Passport data must have!
        </mat-error>
      </ng-container>
    </mat-form-field>
  </fieldset>

  <ng-container
    formArrayName="conditions"
    *ngIf="form.get('isDiagnosExist')?.value === 'diagnosExist'"
  >
    <ng-container *ngFor="let block of conditions.controls; let i = index">
      <div class="diagnos" [formGroup]="block">
        <mat-form-field appearance="outline" class="diagnos__field">
          <mat-select formControlName="diagnos">
            <mat-option value="">Select Diagnos</mat-option>
            <mat-option
              *ngFor="let diagnos of diagnoses$ | async; trackBy: diagnos?.id"
              [value]="diagnos.name"
            >
              {{ diagnos.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="diagnos__field">
          <input
            matInput
            type="text"
            formControlName="notes"
            placeholder="Notes"
          />
          <ng-container *ngIf="conditions.at(i).get('notes') as notes">
            <mat-error *ngIf="notes.dirty && notes.hasError('required')">
              Notes are <strong>required</strong>
            </mat-error>
          </ng-container>
        </mat-form-field>

        <button
          class="btn"
          mat-raised-button
          color="accent"
          (click)="onRemoveDiagnos(i)"
        >
          Remove
        </button>
      </div>
    </ng-container>
  </ng-container>

  <button
    class="btn"
    mat-raised-button
    color="primary"
    (click)="onAddDiagnos()"
  >
    + Add Diagnos
  </button>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    Prepare JSON
  </button>
  <div>
    <pre>{{ formJSON | json }}</pre>
  </div>
</form>

<ng-template #loading><mat-spinner class="spiner"></mat-spinner></ng-template>
