.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 600px;
  .diagnos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn {
      width: 15%;
      padding: 20px;
    }
  }
  .diagnos__field {
    width: 40%;
  }
  .doctor {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .btn {
    width: 50%;
    margin-bottom: 10px;
  }
}

.spiner {
  margin: 0 auto;
}
