<nav class="header__menu menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a class="menu__link" routerLink="/home" routerLinkActive="active"
        >Home</a
      >
    </li>
    <li class="menu__item">
      <a class="menu__link" routerLink="/diagnoses" routerLinkActive="active"
        >Diagnoses</a
      >
    </li>
    <li class="menu__item">
      <a class="menu__link" routerLink="/about" routerLinkActive="active"
        >About Us</a
      >
    </li>
    <li class="menu__item">
      <app-search></app-search>
    </li>
  </ul>
</nav>
